* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
}

header {
    color: #fff;
    display: flex;
    background-color: #242e56;
    justify-content: space-between;
    padding: 30px 100px;
}

.form-header {
    width: 40%;
    display: flex;
}

.form-header input{
    border-radius: 5px 0 0 5px;
    height: 40px;
    width: 80%;
}

.form-header button {
    border-radius: 0 5px 5px 0;
    padding: 12px;
}

.nav-header, .nav-header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.lista-icone {
    display: none;
}

.div-card {
    border: 1px solid #9f9c9c;
    width: 15%;
    /* text-align: center; */
}

.div-card  img {
    width: 80%;
    
}

.section-cards {
    display: flex;
    gap: 20px;
}

.tag-p {
    top: 10px;
    right: 10px;
    /* z-index: -1; */
    position: absolute;
    background-color: #88e473;
    width: fit-content;
    padding: 1px 3px;
    border-radius: 10px;
}

.div-img {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f4eeee;
}

h2 > a {
    font-size: 12px;
}

.div-titulo h1 {
    font-size: 20px;
}

.div-titulo button {
    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 2px;
    border-radius: 50%;
    cursor: pointer;

}

.div-titulo button:hover {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

.div-titulo {
    display: flex;
    justify-content: space-between;
}

.div-texto {
    padding: 10px;
}

.span-valor {
    font-size: 28px;
    font-weight: 600;
}